
/* timer and seconds left on this class */
.timer {
    display: flex;
    justify-content: space-between;
    
}
/* the home page screen */
#welcome-screen {
    display: grid;
    place-content: center;
}

#Start:hover {
    background-color: blueviolet;
    
}

#backToHome:hover {
    background-color: blueviolet;
}

.hidden {
    display: none;
   
}

#quizChoices {
  
}

/* the home page screen */
.welcome-screen, .test, .quizChoices  {
    display: grid;
    place-content: center;
}

